<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- // name:{
        // price:{
        // author:{
        // genre:{
        // stock:{ -->
    
    <form action="/books" method="POST">
        <input type="text" placeholder="enter book name" name="name">
        <input type="number" placeholder="enter price" name="price">
        <input type="text" placeholder="enter genre" name="genre">
        <input type="text" placeholder="enter author" name="author">
        <input type="number" placeholder="enter current stock" name="stock">
<button type="submit">submit</button>
    </form>
    
</body>
</html>